/node_modules/
/vendor/
package-lock.json
.DS_Store
.htaccess
composer.phar
package-lock.json
*.cache
*.lock

# eclipse
.buildpath
.project
.settings

# netbeans
/nbproject/

# phpstorm
/.idea/

# sscode
.vscode
*.code-workspace