<?php

namespace FacturaScripts\[[NAME_SPACE]]\Controller;

use FacturaScripts\Core\Template\ApiController;

class [[NAME]] extends ApiController
{
    protected function runResource(): void
    {
        // tu código aquí
        $this->response->setContent(json_encode(['hola' => 'mundo']));
    }
}
