<?php

namespace FacturaScripts\[[NAME_SPACE]]\Mod;

use FacturaScripts\Core\Template\CalculatorModClass;
use FacturaScripts\Core\Model\Base\BusinessDocument;
use FacturaScripts\Core\Model\Base\BusinessDocumentLine;

/**
 * Mod para modificar los cálculos de totales y subtotales de los albaranes, facturas, etc.
 *
 * @see https://facturascripts.com/publicaciones/como-modificar-el-calculator-desde-un-plugin
 */
class [[NAME]] extends CalculatorModClass
{
    /**
     * Se ejecuta antes de los cálculos. Útil para precargar datos del documento.
     */
    public function apply(BusinessDocument $doc, array &$lines): string
    {
        return $this->done();
    }

    /**
     * Se ejecuta para recalcular el total del documento.
     */
    public function calculate(BusinessDocument $doc, array &$lines): string
    {
        // $doc->total = 'aquí tu cálculo';
        return $this->done();
    }

    /**
     * Se ejecuta para recalcular cada línea del documento.
     */
    public function calculateLine(BusinessDocument $doc, BusinessDocumentLine $line): string
    {
        // $line->pvptotal = 'aquí tu cálculo';
        return $this->done();
    }

    /**
     * Se ejecuta para inicializar los totales del documento a 0.
     */
    public function clear(BusinessDocument $doc, array &$lines): string
    {
        return $this->done();
    }

    /**
     * Se ejecuta para acumular subtotales (neto, iva, etc.) desde las líneas.
     */
    public function accumulateSubtotals(array &$subtotals, BusinessDocument $doc, array &$lines): string
    {
        return $this->done();
    }

    /**
     * Se ejecuta para modificar los subtotales finales del documento.
     */
    public function updateSubtotals(array &$subtotals, BusinessDocument $doc, array $lines): string
    {
        // $subtotals['neto'] += 10;
        // $subtotals['total'] += 10;
        return $this->done();
    }

    /**
     * Se ejecuta al guardar el documento.
     */
    public function save(BusinessDocument $doc, array &$lines): string
    {
        return $this->done();
    }
}
