{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
