<?php

namespace FacturaScripts\[[NAME_SPACE]]\Controller;

use FacturaScripts\Core\Template\Controller;

/**
 * Un controlador es básicamente una página o una opción del menú de FacturaScripts.
 *
 * https://facturascripts.com/publicaciones/los-controladores-410
 */
class [[NAME]] extends Controller
{
    public function getPageData(): array
    {
        $data = parent::getPageData();
        $data['menu'] = '[[MENU]]';
        $data['title'] = '[[NAME]]';
        $data['icon'] = 'fa-solid fa-file';
        return $data;
    }

    /**
     * Ejecuta la lógica privada del controlador.
     */
    public function run(): void
    {
        parent::run();

        $this->view('[[NAME]].html.twig');

        // tu código aquí
    }
}
