<?php
namespace FacturaScripts\[[NAME_SPACE]]\Controller;

class [[NAME]] extends \FacturaScripts\Core\Base\Controller
{
    public function getPageData(): array {
        $data = parent::getPageData();
        $data["menu"] = "admin";
        $data["title"] = "[[NAME]]";
        $data["icon"] = "fas fa-file";
        return $data;
    }
    
    public function privateCore(&$response, $user, $permissions) {
        parent::privateCore($response, $user, $permissions);
        // tu código aquí
    }
}
