<?php
namespace FacturaScripts\[[NAME_SPACE]];

use FacturaScripts\Core\Template\CronJobClass;

class [[NAME]] extends CronJobClass
{
    const JOB_NAME = '[[NAME]]';

    public static function run(): void
    {
       // tu código aquí
    }
}