<?xml version="1.0" encoding="UTF-8"?>
<view>
    <columns>
        <group name="data" numcolumns="12">
            <column name="code" display="none" order="100">
                <widget type="text" fieldname="id" />
            </column>
            <column name="name" order="110">
                <widget type="text" fieldname="name" />
            </column>
            <column name="creation-date" order="120">
                <widget type="datetime" fieldname="creationdate" readonly="dinamic" />
            </column>
        </group>
    </columns>
</view>
