<?php
namespace FacturaScripts\[[NAME_SPACE]]\Controller;

use FacturaScripts\Core\Lib\ExtendedController\EditController;

class Edit[[MODEL_NAME]] extends EditController
{
    public function getModelClassName(): string
    {
        return "[[MODEL_NAME]]";
    }

    public function getPageData(): array
    {
        $data = parent::getPageData();
        $data["title"] = "[[MODEL_NAME]]";
        $data["icon"] = "fas fa-search";
        return $data;
    }
}
