<?php
namespace FacturaScripts\[[NAME_SPACE]]\Controller;

use FacturaScripts\Core\Lib\ExtendedController\ListController;

class List[[MODEL_NAME]] extends ListController
{
    public function getPageData(): array
    {
        $data = parent::getPageData();
        $data["title"] = "[[TITLE]]";
        $data["menu"] = "[[MENU]]";
        $data["icon"] = "fas fa-search";
        return $data;
    }

    protected function createViews()
    {
        $this->createViews[[MODEL_NAME]]();
    }

    protected function createViews[[MODEL_NAME]](string $viewName = "List[[MODEL_NAME]]")
    {
        $this->addView($viewName, "[[MODEL_NAME]]", "[[TITLE]]");
        
        // Esto es un ejemplo ... debe de cambiarlo según los nombres de campos del modelo
        // $this->addOrderBy($viewName, ["id"], "id", 2);
        // $this->addOrderBy($viewName, ["name"], "name");
        
        // Esto es un ejemplo ... debe de cambiarlo según los nombres de campos del modelo
        // $this->addSearchFields($viewName, ["id", "name"]);
    }
}
