<?php
namespace FacturaScripts\[[NAME_SPACE]]\Model;

class [[NAME]] extends \FacturaScripts\Core\Model\Base\ModelClass
{
    use \FacturaScripts\Core\Model\Base\ModelTrait;

    public $creationdate;
    public $id;
    public $name;

    public function clear() {
        parent::clear();
        $this->creationdate = \date(self::DATETIME_STYLE);
    }

    public static function primaryColumn() {
        return "id";
    }

    public static function tableName() {
        return "[[TABLE_NAME]]";
    }
}
