<?php

namespace FacturaScripts\Test\Plugins;

use FacturaScripts\Test\Traits\LogErrorsTrait;
use PHPUnit\Framework\TestCase;

final class [[NAME]] extends TestCase
{
    use LogErrorsTrait;

    public function testCreate(): void
    {
        // tu código aquí
    }

    protected function tearDown(): void
    {
        $this->logErrors();
    }
}
